@import "../../../style/variables.scss";

.modal {
    position: fixed;
    z-index: 2;
    min-width: 40rem;
    min-height: 30rem;
    background-color: white;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: $primary-color;
}

.modal__header, .modal__action.fab.small {
    color: white;
    
}

.backdrop.open {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top :0;
    background-color: black;
    opacity: 0.5;    
}