@import "../../../style/variables.scss";

.mt-header {
    height: 5rem;
    background-color: $primary-color;
    color: white;
    display: flex;
    align-items: center;
}

.mt-header > img {
    height: 100%;
}
