.add-document {
    display: flex;
    flex-direction: column;
    min-height: 25rem;
    margin-bottom: 0;
}

.add-document > input {
    flex: 1;
}

// generic
input[type="text"]:focus {
    border: 1px solid #b1b1b1;
}

input.invalid, input:focus.invalid {
    border: 1px solid #f94330;
}

.input__error {
    min-height: 2.5rem;
}