@import './variables.scss';

img {
  height: 100%;
}

// FAB
.fab {
  height: 5rem;
  width: 5rem;
  padding-bottom: 1.5rem;
  font-size: 4rem;
  border-radius: 50%;
  padding: 0;
  background: none;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.fab.large {
  background-color: $tertiary-color;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: white;
}

.fab.small {
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  color: #606c76;
}

.fab.large:hover {
  background-color: lighten($tertiary-color, 5%);
}

.fab.small:focus,
.fab.small:hover {
  background: none;
  color: #606c76;
}

.fab:hover {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.fab > span {
  font-weight: lighter;
}

// Atomic classes

/* Ripple */
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}

.text-center {
  text-align: center;
}

.button {
  background-color: $secondary-color;
  border: none;
}

.button:hover {
  background-color: lighten($secondary-color, 5%);
}

.button.secondary {
  background-color: $tertiary-color;
}

.button.secondary:hover {
  background-color: lighten($tertiary-color, 5%);
}

/* Spacings */
$spacings: '0' 0, '05' 0.5, '1' 1, '2' 2, '3' 3, '4' 4, '5' 5;
@each $i in $spacings {
  .mt-#{nth($i, 1)} {
    margin-top: #{nth($i, 2)}rem;
  }
  .mb-#{nth($i, 1)} {
    margin-bottom: #{nth($i, 2)}rem;
  }
  .ml-#{nth($i, 1)} {
    margin-left: #{nth($i, 2)}rem;
  }
  .mr-#{nth($i, 1)} {
    margin-right: #{nth($i, 2)}rem;
  }
  .m-#{nth($i, 1)} {
    margin: #{nth($i, 2)}rem;
  }

  .pt-#{nth($i, 1)} {
    padding-top: #{nth($i, 2)}rem;
  }
  .pb-#{nth($i, 1)} {
    padding-bottom: #{nth($i, 2)}rem;
  }
  .pl-#{nth($i, 1)} {
    padding-left: #{nth($i, 2)}rem;
  }
  .pr-#{nth($i, 1)} {
    padding-right: #{nth($i, 2)}rem;
  }
  .p-#{nth($i, 1)} {
    padding: #{nth($i, 2)}rem;
  }
}

.layout-horizontal {
  display: flex;
}

.layout-vertical {
  display: flex;
  flex-direction: column;
}

@for $i from 1 through 5 {
  .flex-#{$i} {
    flex: #{$i};
  }
}

// Visiblity
@media screen and (max-width: 50rem) {
  .hidden-mobile {
    display: none;
  }
}

@media screen and (min-width: 50rem) {
  .hidden-desktop {
    display: none;
  }
}
