@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import './style/generic.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

main > section {
  flex: 1;
}