.documents {
  display: flex;
}

.documents__content {
  flex: 6;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.documents__sidenav {
    flex: 1;
  background-color: #fafafa;
}

.documents__sidenav > h1 {
    font-size: 3rem;
}

.documents__category {
    cursor: pointer;
}

.documents__category:hover {
    background-color: darken(#fafafa, 5%); 
}

.document-card {
    width: 100%;
    height: 20rem;
    background-color: #fafafa;
    border: 1px solid #eaeaea;
    border-radius: 2px;
}

.document-card__header {
    display: flex;
    justify-content: space-between;
}

.document-card__title {
    font-size: 2.2rem;
}

button.documents__add {
    position: sticky;
    bottom: 1rem;
    right: 1rem;
    align-self: flex-end;
}

@media screen and (min-width: 50rem) {
    .document-card {
        width: 30rem;
    }  
}